{% extends layout %}

{% block content_title %}Liste des trophées{% endblock %}

{% block content %}

    {% if trophies is empty %}
    <p>
        Aucun trophée n'existe pour le moment.
        <a href="{{ path('trophy-edit') }}">Créez-en un immédiatement !</a>
    </p>
    {% else %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Image</th>
                <th>Actions</th>
                <th>Possesseurs</th>
            </tr>
        </thead>
        <tbody>
            {% for trophy in trophies %}
            <tr>
                <td>
                    {{ trophy.name }}
                </td>
                <td>
                    <img src="data:image/png;base64,{{ base64_encode(trophy.image.file.bytes) }}" alt="{{ trophy.name }}" />
                </td>
                <td>
                    {% if authenticated_user not in trophy.users %}
                    <a href="{{ path('user-trophy-collection-add', { 'name': trophy.name }) }}">Ajouter à votre collection</a>
                    {% else %}
                    <a href="{{ path('user-trophy-collection-remove', { 'name': trophy.name }) }}">Supprimer de votre collection</a>
                    {% endif %}
                </td>
                <td>
                    {% for user in trophy.users %}
                    {{ authenticated_user == user ? 'moi' : user.username }}{{ loop.last ? '' : ', ' }}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}